{% extends 'base.html' %}

{% block title %}
  <title>signin</title>
{% endblock title %}

{% block content %}

    <div class="container">
      <div class="row col-lg-6 col-md-6 col-sm-12 col-12 offset-lg-3 offset-md-3">
        <h2 class="pb-3">Signin</h2>
        <form method="post" action={% url 'signin' %}>
          {% csrf_token %}
          <div class="mb-3">
            <label for="InputUserName" class="form-label">Username</label>
            <input type="text" class="form-control" id="InputUserName" name="username" placeholder="Enter Username" aria-describedby="usernameHelp" required>
            <div id="usernameHelp" class="form-text">Username should be unique.</div>
          </div>
          <div class="mb-3">
            <label for="InputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="InputPassword" name="password" placeholder="Enter Password" required>
          </div>
          <button type="submit" class="btn btn-outline-primary">Signin</button>
        </form>
        <a href="{% url 'signup' %}" class="text-dark">Don't have an account? Signup</a>
      </div>
    </div>




{% endblock content %}
